body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
    width: 500px;
    height: 500px;
}

button {
    margin: 10px;
    padding: 8px 16px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
    transition: background-color 0.3s ease;
}

#btn_change_background:hover,
#apply-color:hover,
#delete-img:hover,
#toggle-pass:hover {
    background-color: #0056b3;
}

#link-color {
    margin: 10px;
}
